<header>
  <nav class="navbar navbar-expand-md navbar-light bg-faded">
    <a class="navbar-brand" href="#">What's for dinner ?</a>

    <button class="navbar-toggler" type="button" (click)="isCollapsed = !isCollapsed"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse justify-content-end" [collapse]="isCollapsed">
      <a href="#" id="login" (click)="login()">{{user}}</a>
      <a href="#" id="logout" (click)="logout()" [hidden]="!loggedIn">Logout</a>
    </div>

  </nav>
</header>
