<header>
  <nav class="navbar navbar-expand-md navbar-light bg-faded">
    <a class="navbar-brand" href="#">What's for dinner ?</a>

    <button class="navbar-toggler" type="button" (click)="isCollapsed = !isCollapsed"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse justify-content-end" [collapse]="isCollapsed">
      <a href="#" id="login" (click)="login()" class="btn" [ngClass]="{'btn-primary' : !loggedIn, 'btn-link' : loggedIn}">{{user}}</a>
      <a href="#" id="logout" (click)="logout()" [hidden]="!loggedIn" class="btn btn-link"><i class="fa fa-sign-out" aria-hidden="true"></i></a>
    </div>

  </nav>
</header>
