<table>
  <thead>
    <tr>
      <th>Day</th>
      <th>Date</th>
      <th>Dinner</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let menuEditor of menuEditors" [ngClass]="{ 'week-boundary' : menuEditor.dayIndex == 6, 'today' : menuEditor.today }">
      <td>{{menuEditor.displayDay}}</td>
      <td>{{menuEditor.displayDate}}</td>
      <td>
        <div class="input-group">
          <input type="text" class="form-control" [formControl]="menuEditor.dinnerInput" (keydown.enter)="menueditor.applyMenuUpdate()" (blur)="menuEditor.applyMenuUpdate()">
          <span class="input-group-btn">
            <button class="btn btn-outline-primary" (click)="menuEditor.fetchSuggestions()"
                    [popover]="suggestionDisplay" popoverTitle="Suggestions" placement="right" container="body" containerClass="suggestions" [outsideClick]="true">
              <i class="fa fa-lightbulb-o" aria-hidden="true" title="Suggest"></i>
            </button>
            <ng-template #suggestionDisplay>
              <span [hidden]="menuEditor.suggestions.length !== 0">Fetching your suggestions...</span>
              <div class="list-group">
                <button type="button" class="list-group-item list-group-item-action" *ngFor="let suggestion of menuEditor.suggestions" (click)="menuEditor.applySuggestion(suggestion)">{{suggestion}}</button>
              </div>
            </ng-template>
          </span>
        </div>
      </td>
    </tr>
  </tbody>
</table>
