<div class="container">
  <app-menu-header [user]="user" (onLogin)="login()" (onLogout)="logout()"></app-menu-header>

  <main>

    <app-menu-editor-page
      [startDate]="startDate"
      [jumpLength]="jumpLength"
      [nrOfDays]="nrOfDays"
      [menus]="menus"
      (onStartDateUpdate)="handleStartDateUpdate($event)"
      (onNrOfDaysUpdate)="handleNrOfDaysUpdate($event)"
      (onMenuUpdate)="handleMenuUpdate($event)" >
    </app-menu-editor-page>

  </main>

  <app-footer></app-footer>
</div>
