<div class="row">

  <div class="col-sm-1 align-self-end">
    <button class="btn float-right" (click)="earlier()">&lt;</button>
  </div>
  <div class="col-sm-6">
    <input type="text" class="form-control" [formControl]="selectedDate" (keydown.enter)="applyDateUpdate()"
           (blur)="applyDateUpdate()">
  </div>
  <div class="col-sm-1">
    <button class="btn" (click)="later()">&gt;</button>
  </div>
  <div class="col-sm-1 align-self-end">
    <label for="jumpLength" class="float-right">Jump</label>
  </div>
  <div class="col-sm-1">
    <input id="jumpLength" type="number" class="form-control" [formControl]="selectedJumpLength"
           (keydown.enter)="applyJumpLengthUpdate()" (blur)="applyJumpLengthUpdate()">
  </div>

</div>


